*{
    text-decoration: none;
    background-color:  #242526;

}
#app {
    // margin :  auto;
    // margin-top: auto;
    padding-top : 16px;
}
.router-link {
    text-decoration: none;
    color:aliceblue !important;

}
